/* html {
  font-size: 62.5%;
  box-sizing: border-box;
  height: 100%;
} */



 body {
  font-family:'Roboto',  'Montserrat', sans-serif;
  height: 100%;
}

.App {
  position: relative;
  display: flex;

}

.content {
  flex-grow: 1;
}


.container {
  width: 90%;
  margin: auto;
}